/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* HEADER */ 
header {
    background: rgb(37, 35, 44);
    color: #f8f9fc;
    text-align: center;
    padding: clamp(20px, 5vw, 30px);
    font-size: clamp(1.3rem, 4vw, 1.8rem);
}
/* ABOUT SECTION */
.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 20px;
}

 /* CONTAINER CARD */
.about-container {
    width: 100%;
    max-width: 700px;
    background: #fff;
    padding: clamp(20px, 5vw, 40px);
    border-radius: 12px;
    border: 1px solid #eee;
    text-align: center;

}

/*HOVER EFFECT */
.about-container:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);

}  
/* TEXT */
.about-container h2 {
    margin-bottom: 20px;
    font-size: clamp(1.2rem, 3.5vw, 1.6rem);
}

.about-container p {
    margin-bottom: 15px;
    color: #555;
        font-size: clamp(0.9rem, 2.5vw, 1rem);
}

/* BUTTON */
.back-btn {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    text-decoration: none;
    background: rgb(37, 35, 44);
    color: #f8f9fc;
    border-radius: 8px;
    transition: 0.3s;
    overflow: hidden;
}

.back-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px #49494933;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #eee;
    color: #777;
}
@media (max-width: 600px) {

    .about-page {
        padding: 10px;
    }

    .about-container {
        padding: 20px;
        border-radius: 10px;
    }

    .back-btn {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        padding: 10px;
    }

}
